<!-- LEFT -->
<div class="inpage_diagram">
	<figure class="left">
		<img src="{{ site.baseurl }}/images/diagrams/002_frame/the_nine_anchor_points.png" alt="Figure 1: The Nine Anchor Points" style="width: 343px; height: 215px;">
		<figcaption>
			Figure 1: The Nine Anchor Points
		</figcaption>
	</figure>
</div>

 <!-- RIGHT -->
<div class="inpage_diagram">
	<figure class="right">
		<img src="{{ site.baseurl }}/images/diagrams/002_frame/the_nine_anchor_points.png" alt="Figure 1: The Nine Anchor Points" style="width: 343px; height: 215px;">
		<figcaption>
			Figure 1: The Nine Anchor Points
		</figcaption>
	</figure>
</div>



<!-- LEFT SCREENSHOT m -->
<div class="inpage_diagram" borderColor="black">
	<figure class="left">
		<img id="imgm" src="{{ site.baseurl }}/images/diagrams/post_0006/parent_or_parent.png" alt="Parent, Child, Super-class, and Derived class" style="width: 343px; height: 215px;">		<!-- img# -->
		
		<!-- Modal for screenshot -->
		<div id="modalm" class="modal">																<!-- modal# -->
			<span class="closem">&times;</span>														<!-- close# -->
			<img class="modal-content" id="imgmm">														<!-- img## -->
			<div id="caption"></div>
		</div>
		
		<script>
		// Get the modal
		var modal = document.getElementById("modalm");													// modal#
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("imgm");														// img#
		var modalImg = document.getElementById("imgmm");												// img##
		var captionText = document.getElementById("caption");

		img.onclick = function()
		{
		  modal.style.display = "block";
		  modalImg.src = this.src;
		  captionText.innerHTML = this.alt;
		}
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closem")[0];										// close#
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function()
		{ 
			modal.style.display = "none";
		}
		</script>
		<figcaption>
			Parent, Child, Super-class, and Derived class<BR>(click to enlarge)
		</figcaption>
	</figure>
</div>



<!-- LEFT SCREENSHOT n -->
<div class="inpage_diagram" borderColor="black">
	<figure class="left">
		<img id="imgn" src="{{ site.baseurl }}/images/diagrams/post_0006/parent_or_parent.png" alt="Parent, Child, Super-class, and Derived class">		<!-- img# -->
		
		<!-- Modal for screenshot -->
		<div id="modaln" class="modal">																<!-- modal# -->
			<span class="closen">&times;</span>														<!-- close# -->
			<img class="modal-content" id="imgnn">														<!-- img## -->
			<div id="caption"></div>
		</div>
		
		<script>
		// Get the modal
		var modal = document.getElementById("modaln");													// modal#
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("imgn");														// img#
		var modalImg = document.getElementById("imgnn");												// img##
		var captionText = document.getElementById("caption");

		img.onclick = function()
		{
		  modal.style.display = "block";
		  modalImg.src = this.src;
		  captionText.innerHTML = this.alt;
		}
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closen")[0];										// close#
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function()
		{ 
			modal.style.display = "none";
		}
		</script>
		<figcaption>
			Parent, Child, Super-class, and Derived class<BR>(click to enlarge)
		</figcaption>
	</figure>
</div>



<!-- LEFT SCREENSHOT p -->
<div class="inpage_diagram" borderColor="black">
	<figure class="left">
		<img id="imgp" src="{{ site.baseurl }}/images/diagrams/post_0006/parent_or_parent.png" alt="Parent, Child, Super-class, and Derived class">		<!-- img# -->
		
		<!-- Modal for screenshot -->
		<div id="modalp" class="modal">																<!-- modal# -->
			<span class="closep">&times;</span>														<!-- close# -->
			<img class="modal-content" id="imgpp">														<!-- img## -->
			<div id="caption"></div>
		</div>
		
		<script>
		// Get the modal
		var modal = document.getElementById("modalp");													// modal#
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("imgp");														// img#
		var modalImg = document.getElementById("imgpp");												// img##
		var captionText = document.getElementById("caption");

		img.onclick = function()
		{
		  modal.style.display = "block";
		  modalImg.src = this.src;
		  captionText.innerHTML = this.alt;
		}
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closep")[0];										// close#
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function()
		{ 
			modal.style.display = "none";
		}
		</script>
		<figcaption>
			Parent, Child, Super-class, and Derived class<BR>(click to enlarge)
		</figcaption>
	</figure>
</div>



<!-- RIGHT SCREENSHOT r -->
<div class="inpage_diagram" borderColor="black">
	<figure class="right">
		<img id="imgr" src="{{ site.baseurl }}/images/diagrams/post_0006/parent_or_parent.png" alt="Parent, Child, Super-class, and Derived class">		<!-- img# -->
		
		<!-- Modal for screenshot -->
		<div id="modalr" class="modal">																<!-- modal# -->
			<span class="closer">&times;</span>														<!-- close# -->
			<img class="modal-content" id="imgrr">														<!-- img## -->
			<div id="caption"></div>
		</div>
		
		<script>
		// Get the modal
		var modal = document.getElementById("modalr");													// modal#
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("imgr");														// img#
		var modalImg = document.getElementById("imgrr");												// img##
		var captionText = document.getElementById("caption");

		img.onclick = function()
		{
		  modal.style.display = "block";
		  modalImg.src = this.src;
		  captionText.innerHTML = this.alt;
		}
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closer")[0];										// close#
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function()
		{ 
			modal.style.display = "none";
		}
		</script>
		<figcaption>
			Parent, Child, Super-class, and Derived class<BR>(click to enlarge)
		</figcaption>
	</figure>
</div>



<!-- RIGHT SCREENSHOT s -->
<div class="inpage_diagram" borderColor="black">
	<figure class="right">
		<img id="imgs" src="{{ site.baseurl }}/images/diagrams/post_0006/parent_or_parent.png" alt="Parent, Child, Super-class, and Derived class">		<!-- img# -->
		
		<!-- Modal for screenshot -->
		<div id="modals" class="modal">																<!-- modal# -->
			<span class="closes">&times;</span>														<!-- close# -->
			<img class="modal-content" id="imgss">														<!-- img## -->
			<div id="caption"></div>
		</div>
		
		<script>
		// Get the modal
		var modal = document.getElementById("modals");													// modal#
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("imgs");														// img#
		var modalImg = document.getElementById("imgss");												// img##
		var captionText = document.getElementById("caption");

		img.onclick = function()
		{
		  modal.style.display = "block";
		  modalImg.src = this.src;
		  captionText.innerHTML = this.alt;
		}
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closes")[0];										// close#
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function()
		{ 
			modal.style.display = "none";
		}
		</script>
		<figcaption>
			Parent, Child, Super-class, and Derived class<BR>(click to enlarge)
		</figcaption>
	</figure>
</div>



<!-- RIGHT SCREENSHOT q -->
<div class="inpage_diagram" borderColor="black">
	<figure class="right">
		<img id="imgq" src="{{ site.baseurl }}/images/diagrams/post_0006/parent_or_parent.png" alt="Parent, Child, Super-class, and Derived class">		<!-- img# -->
		
		<!-- Modal for screenshot -->
		<div id="modalq" class="modal">																<!-- modal# -->
			<span class="closeq">&times;</span>														<!-- close# -->
			<img class="modal-content" id="imgqq">														<!-- img## -->
			<div id="caption"></div>
		</div>
		
		<script>
		// Get the modal
		var modal = document.getElementById("modalq");													// modal#
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("imgq");														// img#
		var modalImg = document.getElementById("imgqq");												// img##
		var captionText = document.getElementById("caption");

		img.onclick = function()
		{
		  modal.style.display = "block";
		  modalImg.src = this.src;
		  captionText.innerHTML = this.alt;
		}
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closeq")[0];										// close#
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function()
		{ 
			modal.style.display = "none";
		}
		</script>
		<figcaption>
			Parent, Child, Super-class, and Derived class<BR>(click to enlarge)
		</figcaption>
	</figure>
</div>

