<!--
 * In this div, all entities are '1a' for the first APPLICATION screenshot on a page.
 * 
 * From there, they ascend up the alphabet. This preserves the ability to
 * mix and match with all other snippet types.

-->

<!-- 1a -->
<!-- FIRST occurrence of application screen shots on a single page -->
<div class="screenshot_one_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="img1a" src="/images/screenshots/001_window/window_001_minimal.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modal1a" class="modal">																	<!-- modal# -->
				<span class="close1a">&times;</span>															<!-- close# -->
				<img class="modal-content" id="img1a1a">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modal1a");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("img1a");															// img#
			var modalImg = document.getElementById("img1a1a");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close1a")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/window_001_minimal.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>
	</div>
</div>
<BR>
<!-- end of snippet for FIRST (1st) occurrence of application screen shot on a single page -->




<!-- 2b -->
<!-- SECOND occurrence of application screen shots on a single page -->
<div class="screenshot_one_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="img2b" src="/images/screenshots/001_window/window_002_start_external.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modal2b" class="modal">																	<!-- modal# -->
				<span class="close2b">&times;</span>															<!-- close# -->
				<img class="modal-content" id="img2b2b">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modal2b");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("img2b");															// img#
			var modalImg = document.getElementById("img2b2b");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close2b")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/window_002_start_external.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>
	</div>
</div>
<BR>
<!-- end of snippet for SECOND (2nd) occurrence of application screen shot on a single page -->




<!-- 3c -->
<!-- THIRD occurrence of application screen shots on a single page -->
<div class="screenshot_one_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="img3c" src="/images/screenshots/001_window/window_003_oop_minimal.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modal3c" class="modal">																	<!-- modal# -->
				<span class="close3c">&times;</span>															<!-- close# -->
				<img class="modal-content" id="img3c3c">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modal3c");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("img3c");															// img#
			var modalImg = document.getElementById("img3c3c");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close3c")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/window_003_oop_minimal.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>
	</div>
</div>
<BR>
<!-- end of snippet for THIRD (3rd) occurrence of application screen shot on a single page -->




<!-- 4d -->
<!-- FOURTH occurrence of application screen shots on a single page -->
<div class="screenshot_one_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="img4d" src="/images/screenshots/001_window/window_004_size.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modal4d" class="modal">																	<!-- modal# -->
				<span class="close4d">&times;</span>															<!-- close# -->
				<img class="modal-content" id="img4d4d">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modal4d");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("img4d");															// img#
			var modalImg = document.getElementById("img4d4d");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close4d")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/window_004_size.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>
	</div>
</div>
<BR>
<!-- end of snippet for FOURTH (4th) occurrence of application screen shot on a single page -->




<!-- 5e -->
<!-- FIFTH occurrence of application screen shots on a single page -->
<div class="screenshot_one_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="img5e" src="/images/screenshots/001_window/window_005_override_content_size.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modal5e" class="modal">																	<!-- modal# -->
				<span class="close5e">&times;</span>															<!-- close# -->
				<img class="modal-content" id="img5e5e">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modal5e");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("img5e");															// img#
			var modalImg = document.getElementById("img5e5e");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close5e")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/window_005_override_content_size.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>
	</div>
</div>
<BR>
<!-- end of snippet for FIFTH (5th) occurrence of application screen shot on a single page -->




<!-- 6f -->
<!-- SIXTH occurrence of application screen shots on a single page -->
<div class="screenshot_one_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="img6f" src="/images/screenshots/001_window/window_006_title.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modal6f" class="modal">																	<!-- modal# -->
				<span class="close6f">&times;</span>															<!-- close# -->
				<img class="modal-content" id="img6f6f">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modal6f");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("img6f");															// img#
			var modalImg = document.getElementById("img6f6f");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close6f")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/window_006_title.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>
	</div>
</div>
<BR>
<!-- end of snippet for SIXTH (6th) occurrence of application screen shot on a single page -->
