<!--
 * In the first frame (frame-screenshot div) all entities are 'z' for the first
 * APPLICATION screenshot on a page.
 * 
 * In the second frame (frame-terminal div) all entities are 'y' for the first
 * TERMINAL screenshot on a page.
 * From there, they descend through the alphabet. This preserves the ability to
 * mix and match with modal_3_screenshots_snippets.

-->

<!-- z, y -->
<!-- FIRST occurrence of application and terminal screen shots on a single page -->
<div class="screenshot_two_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- LEFT SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="imgz" src="/images/screenshots/001_window/window_001_01.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modalz" class="modal">																	<!-- modal# -->
				<span class="closez">&times;</span>															<!-- close# -->
				<img class="modal-content" id="imgzz">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modalz");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgz");															// img#
			var modalImg = document.getElementById("imgzz");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closez")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>
<!-- RIGHT SCREENSHOT -->
	<div class="gridsource">
		<figure class="right">
			<img id="imgy" src="/images/screenshots/001_window/window_001_01_source.png" alt="Source code image">		<!-- img#, filename -->

			<!-- Modal for terminal shot -->
			<div id="modaly" class="modal">																				<!-- modal# -->
				<span class="closey">&times;</span>																		<!-- close# -->
				<img class="modal-content" id="imgyy">																		<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modaly");																	// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgy");																		// img#
			var modalImg = document.getElementById("imgyy");																// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closey")[0];														// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>

			<figcaption>
				Current example terminal output (click for enlarged view)
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/002_window_oop_minimal.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>.
	</div>
</div>
<BR>
<!-- end of snippet for FIRST (1st) occurrence of application and terminal screen shots on a single page -->




<!-- x, w -->
<!-- SECOND occurrence of application and terminal screen shots on a single page -->
<div class="screenshot_two_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- LEFT SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="imgx" src="/images/screenshots/001_window/window_001_01.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modalx" class="modal">																	<!-- modal# -->
				<span class="closex">&times;</span>															<!-- close# -->
				<img class="modal-content" id="imgxx">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modalx");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgx");															// img#
			var modalImg = document.getElementById("imgxx");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closex")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>
<!-- RIGHT SCREENSHOT -->
	<div class="gridsource">
		<figure class="right">
			<img id="imgw" src="/images/screenshots/001_window/window_001_01_source.png" alt="Source code image">		<!-- img#, filename -->

			<!-- Modal for terminal shot -->
			<div id="modalw" class="modal">																				<!-- modal# -->
				<span class="closew">&times;</span>																		<!-- close# -->
				<img class="modal-content" id="imgww">																		<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modalw");																	// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgw");																		// img#
			var modalImg = document.getElementById("imgww");																// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closew")[0];														// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>

			<figcaption>
				Current example terminal output (click for enlarged view)
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/002_window_oop_minimal.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>.
	</div>
</div>
<BR>
<!-- end of snippet for SECOND (2ND) occurrence of application and terminal screen shots on a single page -->




<!-- u, v -->
<!-- THIRD occurrence of application and terminal screen shots on a single page -->
<div class="screenshot_two_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- LEFT SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="imgu" src="/images/screenshots/001_window/window_001_01.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modalu" class="modal">																	<!-- modal# -->
				<span class="closeu">&times;</span>															<!-- close# -->
				<img class="modal-content" id="imguu">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modalu");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgu");															// img#
			var modalImg = document.getElementById("imguu");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closeu")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>
<!-- RIGHT SCREENSHOT -->
	<div class="gridsource">
		<figure class="right">
			<img id="imgv" src="/images/screenshots/001_window/window_001_01_source.png" alt="Source code image">		<!-- img#, filename -->

			<!-- Modal for terminal shot -->
			<div id="modalv" class="modal">																				<!-- modal# -->
				<span class="closev">&times;</span>																		<!-- close# -->
				<img class="modal-content" id="imgvv">																		<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modalv");																	// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgv");																		// img#
			var modalImg = document.getElementById("imgvv");																// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closev")[0];														// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>

			<figcaption>
				Current example terminal output (click for enlarged view)
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/002_window_oop_minimal.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>.
	</div>
</div>
<BR>
<!-- end of snippet for THIRD (3RD) occurrence of application and terminal screen shots on a single page -->



<!-- s, t -->
<!-- FOURTH occurrence of application and terminal screen shots on a single page -->
<div class="screenshot_two_grid_container">
	<div class="gridheader">
		Results of this example:
	</div>
<!-- LEFT SCREENSHOT -->
	<div class="gridscreenshot">
		<figure>
			<img id="imgs" src="/images/screenshots/001_window/window_001_01.png" alt="Current example output">		<!-- img# -->
			
			<!-- Modal for screenshot -->
			<div id="modals" class="modal">																	<!-- modal# -->
				<span class="closes">&times;</span>															<!-- close# -->
				<img class="modal-content" id="imgss">															<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modals");														// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgs");															// img#
			var modalImg = document.getElementById("imgss");													// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closes")[0];											// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>
			<figcaption>
			Current example output
			</figcaption>
		</figure>
	</div>
<!-- RIGHT SCREENSHOT -->
	<div class="gridsource">
		<figure class="right">
			<img id="imgt" src="/images/screenshots/001_window/window_001_01_source.png" alt="Source code image">		<!-- img#, filename -->

			<!-- Modal for terminal shot -->
			<div id="modalt" class="modal">																				<!-- modal# -->
				<span class="closet">&times;</span>																		<!-- close# -->
				<img class="modal-content" id="imgtt">																		<!-- img## -->
				<div id="caption"></div>
			</div>
			
			<script>
			// Get the modal
			var modal = document.getElementById("modalt");																	// modal#
			
			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("imgt");																		// img#
			var modalImg = document.getElementById("imgtt");																// img##
			var captionText = document.getElementById("caption");

			img.onclick = function()
			{
			  modal.style.display = "block";
			  modalImg.src = this.src;
			  captionText.innerHTML = this.alt;
			}
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("closey")[0];														// close#
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function()
			{ 
				modal.style.display = "none";
			}
			</script>

			<figcaption>
				Current example terminal output (click for enlarged view)
			</figcaption>
		</figure>
	</div>

	<div class="gridfooter">																								<!-- ------------- filename (below) --------- -->
		<a href="https://github.com/rontarrant/tkoopython/blob/master/001_window/002_window_oop_minimal.py" target="_blank">
		DOWNLOAD the code file for this example.
		</a>.
	</div>
</div>
<BR>
<!-- end of snippet for FOURTH (4TH) occurrence of application and terminal screen shots on a single page -->
